APP_PORT=3000
APP_CONTAINER_NAME=seredo-next
POSTGRES_PORT=5433
POSTGRES_CONTAINER_NAME=seredo-postgres
POSTGRES_VOLUME_NAME=seredo_postgres_data
POSTGRES_DB=seredo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-password
DATABASE_URL="postgresql://postgres:change-this-password@localhost:5433/seredo"
POSTGRES_SSL="false"
ADMIN_COOKIE_SECURE=true
GOOGLE_REGISTRATION_WEBHOOK_URL=""
